<!-- socket -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js"
        integrity="sha512-q/dWJ3kcmjBLU4Qc47E4A9kTB4m3wuTY7vkFJDTZKjTs8jhyGQnaUrxa0Ytd0ssMZhbNua9hE+E7Qv1j+DyZwA=="
        crossorigin="anonymous"></script>
<script type="text/javascript" src="//code.jquery.com/jquery-1.4.2.min.js"></script>
<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.5/socket.io.min.js"></script>
<script type="text/javascript" charset="utf-8">
    let socket = io('/ws');+

    socket.on('connect', function () {
        socket.emit('my event', {data: 'I\'m connected~!'});
    });

    socket.on('connect response', function (data) {
        console.log(data);
    });

      $('form#emit').submit(function (event) {
        socket.emit('my event', {data: $('#emit_data').val()});
        return false;
    });

    /*
    $('form#broadcast').submit(function (event) {
        socket.emit('my broadcast event', {data: $('#broadcast_data').val()});
        return false;
    });
    $('form#close').submit(function (event) {
        socket.emit('close room', {room: $('#close_room').val()});
        return false;
    });
    $('form#disconnect').submit(function (event) {
        socket.emit('disconnect request');
        return false;
    });
     */
</script>
<!--// socket -->